{% set letters = ['A', 'B', 'C', 'D'] %}
<div class="card mt-1 {{ answer.isCorrect() ? 'selected-answer' }} answer"
        {{ showAnswerId is defined ? "answer-id=" ~ answer.getId() }}
>
    <div class="card-body d-flex p-0">
        <div class="d-flex align-items-center justify-content-center"
             style="width: 5%; border-right: 1px solid rgba(0, 0, 0, 0.1) !important;"
        >
            <h5 class="m-0">{{ letters[key] }}</h5>
        </div>
        <div class="p-3" style="width: 95%;">
            <p class="card-text">{{ answer.getAnswer()|quill }}</p>
            {% if answer.getComment() != null %}
                <small class="card-text fst-italic">{{ answer.getComment()|quill }}</small>
            {% endif %}
        </div>
    </div>
</div>