{% extends 'base.html.twig' %}

{% block body %}
    <h5 class="text-center">Question details</h5>
    <div class="mb-3 mt-3">
            <div class="card question-category selected-category" style="max-width: 10rem;">
                <div class="card-body text-secondary">
                    <h5 class="card-title text-center">{{ question.getCategory().getValue() }}</h5>
                </div>
            </div>
    </div>
    <div class="card question">
        <div class="card-body">
            <p class="card-text">{{ question.getQuestion()|quill }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-end edit-buttons">
        <a class="btn btn-outline-primary btn-sm" href="{{ path('question_select_category', {'questionId': question.getId()}) }}">change category</a>
        <a class="btn btn-outline-warning btn-sm" href="{{ path('question_edit', {'questionId': question.getId()}) }}">edit</a>
        <a class="btn btn-outline-danger btn-sm" href="{{ path('question_delete', {'questionId': question.getId()}) }}">delete</a>
    </div>

    {% set letters = ['A', 'B', 'C', 'D'] %}
    {% for key, answer in answers %}
        <div class="card mt-1 {{ answer.isCorrect() ? 'selected-answer' }} answer">
            <div class="card-body d-flex p-0">
                <div class="d-flex align-items-center justify-content-center"
                     style="width: 5%; border-right: 1px solid rgba(0, 0, 0, 0.1) !important;"
                >
                    <h5 class="m-0">{{ letters[key] }}</h5>
                </div>
                <div class="p-3" style="width: 95%;">
                    <p class="card-text">{{ answer.getAnswer()|quill }}</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end edit-buttons">
            <a class="btn btn-outline-primary btn-sm" href="{{ path('set_answer_as_correct', {'questionId': question.getId(), 'answerId': answer.getId()}) }}">set as correct</a>
            <a class="btn btn-outline-warning btn-sm" href="{{ path('question_answer_edit', {'questionId': question.getId(), 'answerId': answer.getId()}) }}">edit</a>
            <a class="btn btn-outline-danger btn-sm" href="{{ path('question_delete_answer', {'questionId': question.getId(), 'answerId': answer.getId()}) }}">delete</a>
        </div>
    {% endfor %}
    {% if answers|length < 4 %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ path('question_add_answer', {'questionId': question.getId()}) }}">Add answer</a>
    {% endif %}
{% endblock %}