{% extends 'base.html.twig' %}
{% block title %}Questions{% endblock %}
{% block body %}
    <div class="d-flex mt-3 justify-content-between flex-wrap">
        <a href="{{ path('question_list') }}" class="text-decoration-none">
            <div class="card green-hover question-category mb-2 {{ null == active_question_category ? 'selected-category' }}" style="max-width: 10rem;">
                <div class="card-body text-secondary">
                    <h5 class="card-title text-center">All</h5>
                </div>
            </div>
        </a>
        {% for category in question_categories %}
            <a href="{{ path('question_category_list', {'category': category}) }}" class="text-decoration-none">
                <div class="card green-hover question-category mb-2 {{ category == active_question_category ? 'selected-category' }}" style="max-width: 10rem;">
                    <div class="card-body text-secondary">
                        <h5 class="card-title text-center">{{ category }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item d-flex question list-group-item-action" question-id="{{ question.getId() }}">
                <div class="flex-grow-1 d-flex align-items-center">
                    {{ question.getQuestion()|quill(true)|slice(0, 85) }}
                </div>
                <div>
                    <a class="btn btn-outline-primary" href="{{ path('question_details', {'questionId': question.getId()}) }}">details</a>
                    <a class="btn btn-outline-danger" href="{{ path('question_delete', {'questionId': question.getId()}) }}">delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}