{% extends 'base.html.twig' %}
{% block title %}Pytania{% endblock %}
{% block body %}
    <div class="d-flex flex-wrap">
        {% set isSelected = (null == active_subcategory) and question_review_page is not defined %}
        <a href="{{ path('question_list', {'category': category.getLowerKey()}) }}" class="text-decoration-none">
            {{ include('admin/common/question_subcategory.html.twig', {'subcategory': 'wszystkie', 'isSelected': isSelected}) }}
        </a>
        <a href="{{ path('to_review_question_list', {'category': category.getLowerKey()}) }}" class="text-decoration-none">
            {{ include('admin/common/question_subcategory.html.twig', {'subcategory': 'zaznaczone', 'isSelected': question_review_page is defined}) }}
        </a>
        {% for subcategory in subcategories %}
            {% set isSelected = (subcategory.getLowerKey() == active_subcategory) %}
            <a href="{{ path('question_category_list', {'category': category.getLowerKey(), 'subcategory': subcategory.getLowerKey()}) }}" class="text-decoration-none">
                {{ include('admin/common/question_subcategory.html.twig', {'isSelected': isSelected}) }}
            </a>
        {% endfor %}
    </div>

    <ul class="list-group">
        {% for key, question in questions %}
            <li class="list-group-item d-flex question list-group-item-action" question-id="{{ question.getId() }}" style="padding: 0.5rem 1rem 0.5rem 1rem;">
                <div class="d-flex align-items-center" style="color: gray;">
                    {{ key + 1 }}&nbsp;&nbsp;
                </div>
                <div class="d-flex align-items-center" style="width: 100%;">
                    <a class="flex-grow-1 d-flex align-items-center question-content" style="text-decoration: none; color: rgb(33, 37, 41);" href="{{ path('question_details', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">
                        {{ question.getQuestion()|quill(true)|trimWords }}
                    </a>
                </div>
                <div>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('delete_question', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">usuń</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}