{% extends 'base.html.twig' %}
{% block title %}Pytania{% endblock %}
{% block body %}
    <div class="d-flex flex-wrap">
        {% set isSelected = (null == active_subcategory) %}
        <a href="{{ path('question_list', {'category': category.getLowerKey()}) }}" class="text-decoration-none">
            {{ include('admin/common/question_subcategory.html.twig', {'subcategory': 'wszystkie', 'isSelected': isSelected}) }}
        </a>
        {% for subcategory in subcategories %}
            {% set isSelected = (subcategory.getLowerKey() == active_subcategory) %}
            <a href="{{ path('question_category_list', {'category': category.getLowerKey(), 'subcategory': subcategory.getLowerKey()}) }}" class="text-decoration-none">
                {{ include('admin/common/question_subcategory.html.twig', {'isSelected': isSelected}) }}
            </a>
        {% endfor %}
    </div>

    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item d-flex question list-group-item-action" question-id="{{ question.getId() }}">
                <div class="flex-grow-1 d-flex align-items-center question-content" href="{{ path('question_details', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">
                    {{ question.getQuestion()|quill(true)|slice(0, 85) }}
                </div>
                <div>
                    <a class="btn btn-outline-danger" href="{{ path('delete_question', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">usuń</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}