{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}
{% block body %}
    <form action="{{ path('login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label required">Email</label>
            <input type="text" id="username" name="_username"  class="form-control" value="{{ last_username }}">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label required">Hasło</label>
            <input type="password" id="password" name="_password"  class="form-control">
        </div>

        <input type="hidden" name="_target_path" value="{{ path('login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="mb-3">
            <button type="submit" class="btn-primary btn">Zaloguj</button>
        </div>
    </form>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
{% endblock %}
