<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-no-background.svg" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('category_list') }}" aria-current="page">Kursy</a>
                    </li>
                    {% if category is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('question_list', {'category': category.getLowerKey()}) }}">Lista pytań</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create_question', {'category': category.getLowerKey()}) }}">Dodaj pytanie</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Wyloguj</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Szukaj</button>
                </form>
            {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Logowanie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">Rejestracja</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>