{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex flex-wrap">
        <a href="{{ path('user_question_list', {'category': category.getLowerKey()}) }}" class="text-decoration-none">
            {{ include('admin/common/question_subcategory.html.twig', {'subcategory': 'wszystkie', 'isSelected': true}) }}
        </a>
        {% for subcategory in subcategories %}
            <a href="{{ path('user_question_category_list', {'category': category.getLowerKey(), 'subcategory': subcategory.getLowerKey()}) }}" class="text-decoration-none">
                {{ include('admin/common/question_subcategory.html.twig', {'isSelected': false}) }}
            </a>
        {% endfor %}
    </div>

    <a href="{{ path('user_delete_all_question_answers', {'category': category.getLowerKey()}) }}" class="mb-1 btn btn-danger btn-sm w-100">Skasuj wyniki testów w wybranej kategorii</a>

    {% if next_question == null %}
        <button type="button" class="mb-1 btn btn-primary btn-sm w-100" disabled>Przejdź do testów w wybranej kategorii</button>
    {% else %}
        <a href="{{ path('all_categories_test', {'category': category.getLowerKey(), 'questionId': next_question.getId()}) }}" class="mb-1 btn btn-primary btn-sm w-100">Przejdź do testów w wybranej kategorii</a>
    {% endif %}

    <div class="progress mb-1">
        <div class="progress-bar progress-bar-stripped progress-bar-animated bg-success" role="progressbar" style="width: {{ stats['correct_answers'] }}%" aria-valuenow="{{ stats['correct_answers'] }}" aria-valuemin="0" aria-valuemax="100">{{ stats['correct_answers'] }}%</div>
        <div class="progress-bar progress-bar-stripped progress-bar-animated bg-danger" role="progressbar" style="width: {{ stats['invalid_answers'] }}%" aria-valuenow="{{ stats['invalid_answers'] }}" aria-valuemin="0" aria-valuemax="100">{{ stats['invalid_answers'] }}%</div>
    </div>

    {{ include('user/common/question_list.html.twig') }}

{% endblock %}