{% extends 'base.html.twig' %}
{% block body %}
    {{ include('admin/common/question.html.twig') }}

    <div class="d-flex justify-content-end edit-buttons">
        {% if is_question_skipped %}
            <a class="btn btn-warning btn-sm" href="{{ path('unskip_question', {'questionId': question.getId()}) }}">przestań pomijać</a>
        {% else %}
            <a class="btn btn-success btn-sm" href="{{ path('skip_question', {'questionId': question.getId()}) }}">pomijaj</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary btn-sm" target="_blank" href="{{ path('question_details', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">szczegóły</a>
        {% endif %}
    </div>

    {% for key, answer in answers %}
        {{ include('admin/common/answer_list_item.html.twig') }}
    {% endfor %}
{% endblock %}