{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-wrap">
        <a href="{{ path('user_question_list', {'category': category.getLowerKey()}) }}" class="text-decoration-none">
            {{ include('admin/common/question_subcategory.html.twig', { 'subcategory': 'wszystkie', 'isSelected': false }) }}
        </a>
        {% for subcategory in subcategories %}
            {% set isSelected = (subcategory.getLowerKey() == active_subcategory) %}
            <a href="{{ path('user_question_category_list', {'category': category.getLowerKey(), 'subcategory': subcategory.getLowerKey()}) }}" class="text-decoration-none">
                {{ include('admin/common/question_subcategory.html.twig', {'isSelected': isSelected}) }}
            </a>
        {% endfor %}
    </div>

    <a href="{{ path('user_delete_question_answers', { 'category': category.getLowerKey(), 'subcategory': active_subcategory }) }}" class="mb-1 btn btn-danger btn-sm w-100">Skasuj wyniki testów w wybranej kategorii</a>

    {% if next_question == null %}
        <button type="button" class="mb-1 btn btn-primary btn-sm w-100" disabled>Przejdź do testów w wybranej kategorii</button>
    {% else %}
        <a href="{{ path('category_test', { 'category': category.getLowerKey(), 'subcategory': active_subcategory, 'questionId': next_question.getId() }) }}" class="mb-1 btn btn-primary btn-sm w-100">Przejdź do testów w wybranej kategorii</a>
    {% endif %}

    {{ include('user/common/progress_bar.html.twig', {'stats': stats}, with_context = false) }}

    {{ include('user/common/question_list.html.twig') }}

    <div class="d-flex justify-content-center mt-1">
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="{{ path('user_question_category_list', {'category': category.getLowerKey(), 'subcategory': active_subcategory, 'page': test_question_page.getPreviousPage()}) }}">Poprzednia</a>
                </li>
                {% for page in test_question_page.getPages() %}
                    {% set is_active = test_question_page.getCurrentPage() == page %}
                    <li class="page-item {{ is_active ? 'active' }}" {{ is_active ? 'aria-current="page"' }}>
                        <a class="page-link" href="{{ path('user_question_category_list', {'category': category.getLowerKey(), 'subcategory': active_subcategory, 'page': page}) }}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('user_question_category_list', {'category': category.getLowerKey(), 'subcategory': active_subcategory, 'page': test_question_page.getNextPage()}) }}">Następna</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}