{% extends 'base.html.twig' %}
{% block body %}
    {{ include('admin/common/question.html.twig') }}

    <div class="d-flex justify-content-end edit-buttons">
        {% if select_answer_form.isSubmitted() %}
            {% if is_question_skipped %}
                <a class="btn btn-success btn-sm active" href="{{ path('unskip_question', {'questionId': question.getId()}) }}">przestań pomijać</a>
            {% else %}
                <a class="btn btn-success btn-sm" href="{{ path('skip_question', {'questionId': question.getId()}) }}">pomijaj</a>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% if question.toReview() %}
                <a class="btn btn-secondary btn-sm active" href="{{ path('toggle_question_review', {'questionId': question.getId()}) }}">odznacz</a>
            {% else %}
                <a class="btn btn-secondary btn-sm" href="{{ path('toggle_question_review', {'questionId': question.getId()}) }}">zaznacz</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" target="_blank" href="{{ path('question_details', {'category': category.getLowerKey(), 'questionId': question.getId()}) }}">szczegóły</a>
        {% endif %}
    </div>

    {% set params = { } %}

    {% if show_correct_answer is defined %}
        {% set params = params|merge({ 'show_correct_answer': show_correct_answer }) %}
    {% endif %}

    {% if show_answer_id is defined %}
        {% set params = params|merge({ 'show_answer_id': show_answer_id }) %}
    {% endif %}

    {% if selected_answer_id is defined  %}
        {% set params = params|merge({ 'selected_answer_id': selected_answer_id }) %}
    {% endif %}

    {% if show_answer_details is defined  %}
        {% set params = params|merge({ 'show_answer_details': show_answer_details }) %}
    {% endif %}

    {% for key, answer in answers %}
        {{ include('admin/common/answer_list_item.html.twig', params) }}
    {% endfor %}

    {% if next_question is not defined %}
        {{ form(select_answer_form) }}
    {% else %}
        <a href="{{ path('category_test', {'category': category.getLowerKey(), 'subcategory': subcategory.getLowerKey(), 'questionId': next_question.getId() }) }}" id="next-question" class="mt-2 btn btn-primary btn-sm w-100">Przejdź do następnego pytania</a>
    {% endif %}

{% endblock %}